$do-hyeon-font: 'Do Hyeon', sans-serif;
$shadows-font:'Shadows Into Light', cursive, sans-serif;
$gray: #67676E;
$dark-ass-purple: #0E071B;
$blue: #4656A6;
$light-blue: #808BD3;
$green: #16E43E;
$pink: #AE5290;

@mixin center-margin() {
    max-width: 1920px;
    margin: 0 auto;
}

.width-container {
    max-width: 1000px;
    margin: 0 auto;
}
